/* AboutBranchOut.module.css */

.bigGreenSquare {
    background-color: var(--limed-spruce); /* Replace with your desired green color */
    padding: 20px;
    border-radius: 30px;
    padding:10px;
    margin-top: 30px;
    box-shadow: 0px 5px 5px var(--black-haze-shadow);
  }
  
  .aboutBranchOut {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
    background-color: var(--black-haze);
    width: 250px;
    border-radius: 30px;
    text-shadow: 0px 2px 5px var(--black-haze-shadow);
    box-shadow:  0px 5px 5px var(--limed-spruce-shadow);
    color: var(--limed-spruce); /* Replace with your desired text color */
    text-align: center;
  }
  
  .branchOutDescription {
    font-size: 16px;
    color: var(--black-haze); /* Replace with your desired text color */
    text-shadow: 0px 5px 5px var(--limed-spruce-shadow);
    margin-top: 10px;
    text-align: center;
  }

@media only screen and (max-width: 1400px) {
  .bigGreenSquare {
    width:75%;
    justify-content: center;
    margin: 30px auto auto auto;
  }
}