
.bigGreenSquare {
  background-color: var(--elm);
  margin: 50px 30px 0px 30px;
  padding: 20px;
  border-radius: 30px;
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
}

.aboutMe {
    justify-content: center;
    display: flex;
    font-family: "Audiowide", sans-serif;
    font-size: 20px;
    color: var(--elm);
    background-color: var(--black-haze);
    padding: 5px;
    border-radius: 30px;
    text-shadow: 0px 5px 5px  var(--black-haze-shadow);
    box-shadow: 2px 10px 5px var(--elm-shadow);
    margin: 0px 50px 20px 50px;
}

.userDescription {
    font-family: "Audiowide", sans-serif;
    color: var(--black-haze);
    text-shadow: 0px 5px 5px  var(--elm-shadow);
    margin: 10px 50px;
}

.editButton {
    display: flex;
    justify-content: right;
    background-color: var(--black-haze);
    color: var(--elm);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: auto 10px auto auto;
    font-family: Audiowide, sans-serif;
    border-radius: 20px;
    box-shadow: 0px 5px 5px var(--elm-shadow);
    text-shadow: 0px 3px 3px  var(--black-haze-shadow);
}

.editButton:hover {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 5px 5px  var(--elm-shadow);
}
  
