.chatBody {
    min-height: 565px;
    max-height: 565px;
    overflow-y: auto;
    margin: 10px 30px;
    font-size: 20px;
}

.chatFooter {
    margin: 10px 30px 30px 30px;
    border-radius: 20px;
}

.roomName {
    background-color: var(--limed-spruce);
    margin: 20px 15px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    max-width: 250px;
    color: var(--black-haze);
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
    text-shadow: 0px 5px 5px var(--limed-spruce-shadow);
    text-align: center;
}

.messageMeta {
    display: flex;
    background-color: var(--elm);
    margin: 10px 0;
    border-radius: 20px;
}

.author {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    margin: 0 15px 0 0;
    padding: 5px 10px;
    border-radius: 20px;
    box-shadow: 10px 0px 10px var(--elm-shadow);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
    height: 36px;
}

.messageContent {
    margin: 5px 20px;
    color: var(--black-haze);
    margin: 5px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 70%;
     
}

.time {
    background-color: var(--mountain-meadow);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 0 0 auto; 
    color: var(--black-haze);
    box-shadow: -10px 0px 10px var(--elm-shadow);
    text-shadow: 0px 3px 3px var(--mountain-meadow-shadow);
    height: 36px;
    width: 200px;
}

.chatInput {
    font-family: 'Audiowide', sans-serif;
    width: 92%;
    height: 2.8rem;
    background: var(black-haze);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.5rem;
    border: 5px solid var(--limed-spruce);
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
}

.sendButton {
    font-family: 'Audiowide', sans-serif;
    text-align: right;
    margin: 10px;
    height: 2.8rem;
    font-size: 1.5rem;
    background-color: var(--mountain-meadow);
    border-radius: 20px;
    padding: 5px 10px;
    color: var(--black-haze);
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
    text-shadow: 0px 3px 3px var(--mountain-meadow-shadow);
    border: none;
}

@media only screen and (max-width: 1410px) {
    .chatInput {
        width: 90%;
    }
}

@media only screen and (max-width: 1140px) {
.chatInput {
    width: 85%;
}

.messageContent {
    max-width: 60%;
}

}

@media only screen and (max-width: 970px) {
    .time {
        margin: 0 0 0 auto;
    }
}

@media only screen and (max-width: 780px) {
    .chatInput {
        width: 80%;
    } 

    .messageContent {
        max-width: 50%;
    }

    .roomName {
        justify-self: center;
        margin: 20px auto;
    }
}

@media only screen and (max-width: 620px) {
    .chatInput {
        width: 75%;
    } 

    .messageMeta {
        flex-direction: column;
    }
    
    .author {
        margin: 0px auto 0px 0px;
        justify-self: left;
        box-shadow: 
        10px 0px 10px var(--elm-shadow),
        0px 10px 10px var(--elm-shadow);
    }

    .messageContent {
        max-width: 100%;
        margin: 15px;
    }

    .time {
        box-shadow:
        -10px 0px 10px var(--elm-shadow),
        0px -10px 10px var(--elm-shadow);
    }
}

@media only screen and (max-width: 500px) {
    .chatInput {
        width: 70%;
    } 
}

@media only screen and (max-width: 420px) {
    .chatInput {
        width: 65%;
    } 
}

@media only screen and (max-width: 370px) {
    .chatInput {
        width: 60%;
    } 
}