@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Audiowide&display=swap");

.homepageBody {
    font-family: "Audiowide", sans-serif;
}

.homepageColumn {
  float: left;
  width: 33.33%;
}

.homepageRow:after {
  content: "";
  display: table;
  clear: both;
}

.homepageOtherSocials {
  background-color: var(--mountain-meadow);
  color: var(--black-haze);
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.homepageAddFriends {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.homepageAddFriendSquare {
  background-color: var(--black-haze);
  border: 5px solid var(--limed-spruce);
  height: 100px;
  margin-top: 10px;
}

.homepageButtonRow {
  display: flex;
  justify-content: center;
}

.homepageButton {
  margin: 10px 40px 10px 40px;
}