/* HomepageUserDiamond.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diamondShape {
  margin-top: 70px;
  background: var(--limed-spruce);
  height: 275px;
  width: 275px;
  text-align: center;
  transform: rotate(45deg);
  border: 40px solid var(--mountain-meadow);
  border-radius: 85px;
  box-shadow: 
    10px 8px 20px  var(--limed-spruce-shadow),
    inset 15px 10px 10px  var(--limed-spruce-shadow);
}

.userIcon {
  color: var(--black-haze);
  transform: rotate(-45deg);
  height: 90px;
  padding: 40px 40px 0px 0px;
}

.buttonColumn {
  display: flex;
  flex-direction: column; /* Updated to column layout */
  align-items: center; /* Align buttons in the center horizontally */
  margin-top: 0;
  padding: 20px 20px 40px 20px;
  border-radius: 0 0 40px 40px;
  background: var(--black-haze);
  background-color: var(--limed-spruce);
  box-shadow: 0 10px 10px var(--limed-spruce-shadow);
}

.diamondButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make each button take the full width of the container */
}

.logoStyling {
  transform: rotate(-45deg);
  height: 100px;
  margin: 47px 0px 0px 0px;
}