.diamondButton {
    display: block;
    margin-top: 40px;
    background: var(--limed-spruce);
    height: 75px;
    width: 75px;
    text-align: center;
    transform: rotate(45deg) !important;
    border: 11px solid var(--mountain-meadow);
    border-radius: 18px;
    box-shadow: 
    inset 5px 4px 5px  var(--limed-spruce-shadow),
    5px 5px 5px var(--limed-spruce-shadow);

}

.buttonIcon {
color: var(--black-haze);
transform: rotate(-45deg);
height: 30px;
padding-top: 10px;
padding-right: 10px;
}

.buttonIcon :hover {
color: var(--mountain-meadow);
}