.formSquare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    width: 400px;
    background-color: var(--mountain-meadow);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
}

.formLogo {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 200px;
    text-decoration: none;
    color: inherit;
    background-color: var(--limed-spruce);
    padding: 10px 20px;
    border-radius: 25px;
    box-shadow: 0px 10px 5px var(--mountain-meadow-shadow);
}

.formLogo img {
    width: 150px;
}

.loginButton {
    display: flex;
    justify-content: center;
    background-color: var(--black-haze);
    color: var(--limed-spruce);
    border: none;
    padding: 0 10px;
    cursor: pointer;
    margin: 30px auto 10px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 25px;
    box-shadow: 0px 5px 5px var(--mountain-meadow-shadow);
    text-shadow: 0px 3px 3px var(--black-haze-shadow);
}

.loginButton:hover {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
}

.loginRequirement {
    display: flex;
    justify-content: center;
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    border: none;
    padding: 5px 15px;
    margin: 20px auto;
    width: 170px;
    font-family: Audiowide, sans-serif;
    border-radius: 20px;
    font-size: 15px;
    box-shadow: 0px 5px 5px var(--mountain-meadow-shadow);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
}

.loginInput {
    display: flex;
    cursor: pointer;
    justify-content: center;
    font-family: 'Audiowide', sans-serif;
    color: var(--elm);
    width: 300px;
    margin: 0px auto;
    height: 2rem;
    background: var(--black-haze);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
    box-shadow: 0px 5px 5px var(--mountain-meadow-shadow);
}

#bioInput {
    height: 200px;
}

.somethingWrong {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
    display: flex;
    justify-content: center;
    border: none;
    padding: 15px;
    cursor: pointer;
    margin: 30px auto 10px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 15px;
    box-shadow: 0px 5px 5px var(--mountain-meadow-shadow);
}

.close {
    color: var(--limed-spruce);
    background-color: var(--black-haze);
    border: none;
    margin: 0 10px;
    padding: 10px;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    border-radius: 40px;
    font-size: 20px;
    box-shadow: 0px 5px 5px var(--limed-spruce-shadow);
}

.noAccount {

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 425px;
    margin: 50px auto;
    background-color: var(--elm);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0px 10px 5px var(--black-haze-shadow);
}

.signUp {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--black-haze);
    border: none;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px auto 0px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 25px;
    text-shadow: 0px 3px 3px var(--elm-shadow);
}

.linkUnderline {
    text-decoration: none;
}

.signUpButton {
    display: flex;
    justify-content: center;
    background-color: var(--black-haze);
    color: var(--limed-spruce);
    border: none;
    padding: 0 10px;
    cursor: pointer;
    margin: 30px auto 10px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 25px;
    box-shadow: 0px 5px 5px var(--elm-shadow);
    text-shadow: 0px 1px 3px var(--black-haze-shadow);
}

.signUpButton:hover {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
}

.signUpPageButton {
    display: flex;
    justify-content: center;
    background-color: var(--black-haze);
    color: var(--limed-spruce);
    border: none;
    padding: 0 10px;
    cursor: pointer;
    margin: 30px auto 10px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 25px;
    box-shadow: 0px 5px 5px var(--mountain-meadow-shadow);
    text-shadow: 0px 1px 3px var(--black-haze-shadow);
}

.signUpPageButton:hover {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
}

@media only screen and (max-width: 460px) {
    .formSquare {
        width: 300px;
    }

    .loginInput {
        width: 250px;
    }

    .noAccount {
        width: 300px;
    }
}