@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Audiowide&display=swap");

.profilePageBody {
    font-family: "Audiowide", sans-serif;
  
}

.profilePageColumn {
  float: left;
  width: 33.33%;
}

.profilePageRow:after {
  content: "";
  display: table;
  clear: both;
}

.profileOtherSocials {
  background-color: var(--mountain-meadow);
  color: var(--black-haze);
  border: none;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.profileAddFriends {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.profileAddFriendSquare {
  background-color: var(--black-haze);
  border: 5px solid var(--limed-spruce);
  height: 100px;
  margin-top: 10px;
}

.profileButtonRow {
  display: flex;
  justify-content: center;
}

.profileButton {
  margin: 10px 40px 10px 40px;
}



/* For medium-sized screens */
@media only screen and (max-width: 1400px) {
  .profilePageColumn {
    width: 50%;
  }
}

/* For small-sized screens */
@media only screen and (max-width: 930px) {
  .profilePageColumn {
    width: 100%;
  }
}

/* Additional adjustments for screens smaller than 800px */
@media only screen and (max-width: 800px) {
  .profilePageRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profilePageColumn {
    width: 100%;
    margin-bottom: 20px; /* Add space between columns */
  }

  .profileButtonRow {
    flex-direction: column; /* Align buttons vertically */
    align-items: center;
  }

  .profileButton {
    margin: 10px; /* Adjust margin for buttons */
  }
}

/* For extra small screens */
@media only screen and (max-width: 576px) {
  .profilePageColumn {
    width: 100%;
  }
  .profileButton {
    margin: 10px 20px 10px 20px;
  }
}