.inputSearch {
    font-family: 'Audiowide', sans-serif;
    color: var(--elm);
    width: 100%;
    height: 2.8rem;
    background: var(--black-haze);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 10px 5px var(--limed-spruce-shadow);
  }

  .searchButton {
    display: none;
  }
  
  .headerSearch {
    flex: 1;
    margin: 0 20px;
    padding: 0;
  }

  .headerSearch input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
  }