.inputSearch {
    font-family: 'Audiowide', sans-serif;
    color: var(--elm);
    width: 100%;
    height: 2.8rem;
    background: var(--black-haze);
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1.5rem;
    box-shadow: 0px 10px 5px var(--limed-spruce-shadow);
  }

  .headerSearch {
    position: relative;
    flex: 1;
    margin: 0 20px;
    padding: 0;
  }

  .headerSearch input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .dropdown a:hover {
    background-color: #f0f0f0;
  }