/* SendMessage.module.css */
/* SendMessage.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .openModalButton {
    display: flex;
    justify-content: center;
    background-color: var(--elm);
    color: var(--black-haze);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 30px auto 10px auto;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 25px;
    box-shadow: 0px 5px 5px var(--black-haze-shadow);
    text-shadow: 0px 3px 3px  var(--elm-shadow);
  }
  
  .openModalButton:hover {
    background-color: var(--limed-spruce);
    color: var(--black-haze);
    text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
  }
  
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--mountain-meadow);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 
    0 10px 30px var(--limed-spruce-shadow),
    0 -10px 30px var(--limed-spruce-shadow),
    10px 0 30px var(--limed-spruce-shadow),
    -10px 0 30px var(--limed-spruce-shadow);
    text-align: center;
  }
  
  .modalHeader {
    position: relative;
    width: 375px;
    margin: 0px auto 20px auto;
    display: flex;
    justify-content: center;
    background-color: var(--black-haze);
    color: var(--limed-spruce);
    border: none;
    padding: 5px 10px;
    font-family: Audiowide, sans-serif;
    border-radius: 40px;
    font-size: 20px;
    box-shadow: 0px 5px 5px var(--elm-shadow);
    text-shadow: 0px 3px 6px  var(--black-haze-shadow);
  }
  
  .modalText {
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .closeButton {
    position: absolute;
    top: -2px;
    right: 15px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-family: "Audiowide", sans-serif;
    color: var(--limed-spruce);
    text-shadow: 0px 3px 6px  var(--black-haze-shadow);
  }
  
  .modal-content {
    margin-bottom: 20px;
  }
  
  .modalButtons {
    display: flex;
    justify-content: center;
  }
  
.modalTextArea {
  border-radius: 20px;
  border: none;
  font-family: 'Audiowide', sans-serif;
  color: var(--limed-spruce);
  width: 350px;
  height: 6rem;
  background: var(--black-haze);
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0.5rem 1rem 4rem 1rem;
  font-size: 15px;
  box-shadow: 0px 10px 10px var(--elm-shadow);
}

.sendButton {
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: var(--limed-spruce);
  color: var(--black-haze);
  border: none;
  padding: 5px 10px;
  font-family: Audiowide, sans-serif;
  border-radius: 40px;
  font-size: 20px;
  box-shadow: 0px 5px 5px var(--elm-shadow);
  text-shadow: 0px 3px 6px  var(--limed-spruce-shadow);
}

.sendButton:hover {
  background-color: var(--black-haze);
  text-shadow: 0px 3px 6px  var(--black-haze-shadow);
  color: var(--limed-spruce)
}

.messageHeader {
  display: flex;
  justify-content: center;
  font-weight: normal;
  width: 375px;
  padding: 5px 0;
  background-color: var(--elm);
  color: var(--black-haze);
  text-shadow: 0 5px 5px var(--elm-shadow);
  box-shadow: 0px 10px 10px var(--black-haze-shadow);
  border-radius: 30px;
  margin: 50px auto 0 auto;
}

.logoutMessageHeader {
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: normal;
  width: 375px;
  padding: 20px 0;
  background-color: var(--elm);
  color: var(--black-haze);
  text-shadow: 0 5px 5px var(--elm-shadow);
  box-shadow: 0px 10px 10px var(--black-haze-shadow);
  border-radius: 30px;
  margin: 50px auto 0 auto;
}

.smallDiamondShape {
  cursor: pointer;
  margin-top: 30px;
  background: var(--black-haze);
  height: 85px;
  width: 85px;
  text-align: center;
  transform: rotate(45deg);
  border: 12px solid var(--limed-spruce);
  border-radius: 25px;
  box-shadow: 
  inset 5px 4px 5px  var(--black-haze-shadow),
  5px 5px 5px var(--black-haze-shadow);
}

.messageIcon {
  color: var(--limed-spruce);
  transform: rotate(-45deg);
  height: 40px;
}

.messageIcon :hover{
  color: var(--elm);
}

.logoutMessageIcon {
  color: var(--limed-spruce);
  transform: rotate(-45deg);
  height: 40px;
  margin-top: 10px;
}

.logoutMessageIcon :hover{
  color: var(--elm);
}