.diamondShape {
    margin-top: 100px;
    background: var(--limed-spruce);
    height: 150px;
    width: 150px;
    text-align: center;
    transform: rotate(45deg);
    border: 30px solid var(--mountain-meadow);
    border-radius: 40px;
    box-shadow: 
    inset 10px 8px 10px  var(--limed-spruce-shadow),
    4px 10px 5px var(--black-haze-shadow);

  }
  
  .userIcon {
    color: var(--black-haze);
    transform: rotate(-45deg);
    height: 70px;
    padding-right: 12px;
  }