.profileFriendsInfo {
  display: flex;
  background-color: var(--elm);
  padding: 10px;
  width: 50%;
  margin: 40px auto;
  border-radius: 30px;
  box-shadow: 0px 10px 5px var(--black-haze-shadow);
}

.profileFriendCount {
  color: var(--black-haze);
  margin: auto 10px;
  font-size: 20px;
  text-shadow: 0px 3px 3px var(--elm-shadow);
}

.profileViewAllFriends {
  background-color: var(--black-haze);
  color: var(--elm);
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: auto 10px auto auto;
  font-family: Audiowide, sans-serif;
  border-radius: 20px;
  font-size: 20px;
  box-shadow: 0px 5px 5px var(--elm-shadow);
  text-shadow: 0px 3px 3px  var(--black-haze-shadow);
}

.profileViewAllFriends:hover {
  background-color: var(--limed-spruce);
  color: var(--black-haze);
  text-shadow: 0px 3px 3px var(--limed-spruce-shadow);
}
